.exercise-card {
  background: #252528;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.exercise-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.exercise-text h3 {
  margin: 0;
  font-size: 18px;
}

.exercise-text p {
  margin: 5px 0 0 0;
  color: #c0c0c0;
  font-size: 14px;
}

.arrow {
  margin-left: auto;
  font-size: 24px;
  opacity: 0.6;
}
