.main-card {
  background: #1a1a1d;
  padding: 20px;
  border-radius: 16px;
  width: 380px;        
  max-width: 90%;      
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  color: #757474;
  font-size: 10px;
  padding-top: 0px;
  margin-top: 0px;
}

.info {
  color: #757474;
  font-size: 10px;
  padding: 0 0 0 0;
}

.main-card .title h2 {
  margin-bottom: 0;
}
